.left-side {
    background: var(--anthracite);
    width: 250px;
    height: 100vh;
}

a {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    color: var(--text);
    text-decoration: none;
    border-bottom: 1px solid var(--anthraciteHover);
}

a:hover {
    background: var(--anthraciteHover);
}