.left-side {
    background: var(--anthracite);
}

.link-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    color: var(--textMenu);
    text-decoration: none;
    border-bottom: 1px solid var(--anthraciteHover);
}

.link-navbar.active {
    background: var(--anthraciteHover);
}

.link-navbar:hover {
    background: var(--anthraciteHover);
}

.icon-nav {
    height: 30px;
}